<a href="https://colab.research.google.com/github/kalijauhari/Pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np

In [26]:
dict = {
    "name" : ['kali', 'kavita', 'shubhangi'],
    "marks" : [98,99,10],
    "city" : ['delhi','mumbai','bangalore']
}

In [27]:
df = pd.DataFrame(dict)

In [28]:
df

        name  marks       city
0       kali     98      delhi
1     kavita     99     mumbai
2  shubhangi     10  bangalore

In [29]:
df.to_csv('friends.csv')

In [30]:
df.to_csv('friends_ind.csv', index=False)

In [31]:
df.head(2)

     name  marks    city
0    kali     98   delhi
1  kavita     99  mumbai

In [32]:
df.tail(2)

        name  marks       city
1     kavita     99     mumbai
2  shubhangi     10  bangalore

In [33]:
df.describe()

           marks
count   3.000000
mean   69.000000
std    51.097945
min    10.000000
25%    54.000000
50%    98.000000
75%    98.500000
max    99.000000

In [34]:
abc = pd.read_csv("https://raw.githubusercontent.com/kalijauhari/Pandas/main/weather.csv")

In [35]:
abc

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [36]:
abc['MinTemp']

0       8.0
1      14.0
2      13.7
3      13.3
4       7.6
       ...
361     9.0
362     7.1
363    12.5
364    12.5
365    12.3
Name: MinTemp, Length: 366, dtype: float64

In [37]:
abc['MinTemp'][0]

8.0

In [38]:
abc['MinTemp'][0] = 9.0

<ipython-input-38-0c73a8c13229>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abc['MinTemp'][0] = 9.0

In [39]:
abc['MinTemp'][0]

9.0

In [40]:
df

        name  marks       city
0       kali     98      delhi
1     kavita     99     mumbai
2  shubhangi     10  bangalore

In [41]:
df['marks'][0] = 99

<ipython-input-41-3dd285956b61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marks'][0] = 99

In [42]:
df['marks'][0]

99

In [43]:
df.index = ['first','second','third']

In [44]:
df

             name  marks       city
first        kali     99      delhi
second     kavita     99     mumbai
third   shubhangi     10  bangalore

In [45]:
ser = pd.Series(np.random.rand(5))

In [46]:
ser

0    0.413908
1    0.249655
2    0.624294
3    0.485725
4    0.445418
dtype: float64

In [47]:
type(ser)

pandas.core.series.Series

In [50]:
newdf = pd.DataFrame(np.random.rand(12,3),index=np.arange(12))

In [52]:
newdf

           0         1         2
0   0.622493  0.788445  0.867439
1   0.753733  0.401856  0.030838
2   0.049101  0.393013  0.543733
3   0.947437  0.340978  0.962509
4   0.163570  0.179510  0.674561
5   0.774367  0.962417  0.636606
6   0.658237  0.912069  0.515689
7   0.245886  0.691089  0.380715
8   0.836300  0.864545  0.153341
9   0.776664  0.068195  0.487569
10  0.529771  0.308509  0.851256
11  0.124794  0.838086  0.452129

In [53]:
type(newdf)

pandas.core.frame.DataFrame

In [54]:
newdf.to_numpy()

array([[0.62249287, 0.7884455 , 0.86743928],
       [0.75373325, 0.40185642, 0.03083822],
       [0.04910093, 0.39301313, 0.54373293],
       [0.9474374 , 0.34097829, 0.9625089 ],
       [0.16357047, 0.17950979, 0.67456096],
       [0.77436736, 0.96241706, 0.63660633],
       [0.65823717, 0.91206902, 0.51568874],
       [0.24588615, 0.69108889, 0.38071505],
       [0.83629994, 0.86454466, 0.15334121],
       [0.77666353, 0.06819507, 0.48756878],
       [0.52977069, 0.30850855, 0.85125615],
       [0.12479444, 0.83808578, 0.45212864]])

In [56]:
newdf.T #transpose

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.622493,0.753733,0.049101,0.947437,0.163570,0.774367,0.658237,0.245886,0.836300,0.776664,0.529771,0.124794
1,0.788445,0.401856,0.393013,0.340978,0.179510,0.962417,0.912069,0.691089,0.864545,0.068195,0.308509,0.838086
2,0.867439,0.030838,0.543733,0.962509,0.674561,0.636606,0.515689,0.380715,0.153341,0.487569,0.851256,0.452129

In [57]:
newdf.sort_index(axis=0,ascending=False)

           0         1         2
11  0.124794  0.838086  0.452129
10  0.529771  0.308509  0.851256
9   0.776664  0.068195  0.487569
8   0.836300  0.864545  0.153341
7   0.245886  0.691089  0.380715
6   0.658237  0.912069  0.515689
5   0.774367  0.962417  0.636606
4   0.163570  0.179510  0.674561
3   0.947437  0.340978  0.962509
2   0.049101  0.393013  0.543733
1   0.753733  0.401856  0.030838
0   0.622493  0.788445  0.867439

In [ ]:
#axis = 0 is row
#axis = 1 is column

In [58]:
newdf.sort_index(axis=1,ascending=False)

           2         1         0
0   0.867439  0.788445  0.622493
1   0.030838  0.401856  0.753733
2   0.543733  0.393013  0.049101
3   0.962509  0.340978  0.947437
4   0.674561  0.179510  0.163570
5   0.636606  0.962417  0.774367
6   0.515689  0.912069  0.658237
7   0.380715  0.691089  0.245886
8   0.153341  0.864545  0.836300
9   0.487569  0.068195  0.776664
10  0.851256  0.308509  0.529771
11  0.452129  0.838086  0.124794

In [ ]:
newdf2 = newdf # this will only create a view of newdf, changes made in newdf2 will be reflected in newdf

In [ ]:
newdf2 = newdf.copy() # changes made to newdf2 will not reflect in newdf

In [59]:
newdf.loc[0,0] = 0.348

In [60]:
newdf.head(2)

          0         1         2
0  0.348000  0.788445  0.867439
1  0.753733  0.401856  0.030838

In [61]:
newdf.columns = list("ABC")

In [62]:
newdf

           A         B         C
0   0.348000  0.788445  0.867439
1   0.753733  0.401856  0.030838
2   0.049101  0.393013  0.543733
3   0.947437  0.340978  0.962509
4   0.163570  0.179510  0.674561
5   0.774367  0.962417  0.636606
6   0.658237  0.912069  0.515689
7   0.245886  0.691089  0.380715
8   0.836300  0.864545  0.153341
9   0.776664  0.068195  0.487569
10  0.529771  0.308509  0.851256
11  0.124794  0.838086  0.452129

In [63]:
newdf.loc[0,'A'] = 0.121212

In [64]:
newdf

           A         B         C
0   0.121212  0.788445  0.867439
1   0.753733  0.401856  0.030838
2   0.049101  0.393013  0.543733
3   0.947437  0.340978  0.962509
4   0.163570  0.179510  0.674561
5   0.774367  0.962417  0.636606
6   0.658237  0.912069  0.515689
7   0.245886  0.691089  0.380715
8   0.836300  0.864545  0.153341
9   0.776664  0.068195  0.487569
10  0.529771  0.308509  0.851256
11  0.124794  0.838086  0.452129

In [66]:
newdf = newdf.drop(11,axis=0)

In [69]:
newdf.loc[[1,2],['B','C']]

          B         C
1  0.401856  0.030838
2  0.393013  0.543733

In [70]:
newdf.loc[:,['B','C']]

           B         C
0   0.788445  0.867439
1   0.401856  0.030838
2   0.393013  0.543733
3   0.340978  0.962509
4   0.179510  0.674561
5   0.962417  0.636606
6   0.912069  0.515689
7   0.691089  0.380715
8   0.864545  0.153341
9   0.068195  0.487569
10  0.308509  0.851256

In [71]:
newdf.loc[[1,2],:]

          A         B         C
1  0.753733  0.401856  0.030838
2  0.049101  0.393013  0.543733

In [73]:
newdf['A']

0     0.121212
1     0.753733
2     0.049101
3     0.947437
4     0.163570
5     0.774367
6     0.658237
7     0.245886
8     0.836300
9     0.776664
10    0.529771
Name: A, dtype: float64

In [75]:
newdf[(newdf['A']<0.3) & (newdf['C']>0.1)]

          A         B         C
0  0.121212  0.788445  0.867439
2  0.049101  0.393013  0.543733
4  0.163570  0.179510  0.674561
7  0.245886  0.691089  0.380715

In [77]:
newdf.iloc[0,2]

0.8674392769998961

In [78]:
newdf.iloc[[0,2],[1,2]]

          B         C
0  0.788445  0.867439
2  0.393013  0.543733

In [79]:
newdf.drop(['A'],axis=1)

           B         C
0   0.788445  0.867439
1   0.401856  0.030838
2   0.393013  0.543733
3   0.340978  0.962509
4   0.179510  0.674561
5   0.962417  0.636606
6   0.912069  0.515689
7   0.691089  0.380715
8   0.864545  0.153341
9   0.068195  0.487569
10  0.308509  0.851256

In [80]:
newdf

           A         B         C
0   0.121212  0.788445  0.867439
1   0.753733  0.401856  0.030838
2   0.049101  0.393013  0.543733
3   0.947437  0.340978  0.962509
4   0.163570  0.179510  0.674561
5   0.774367  0.962417  0.636606
6   0.658237  0.912069  0.515689
7   0.245886  0.691089  0.380715
8   0.836300  0.864545  0.153341
9   0.776664  0.068195  0.487569
10  0.529771  0.308509  0.851256

In [81]:
newdf.drop(['C'],axis=1,inplace=True)

In [82]:
newdf

           A         B
0   0.121212  0.788445
1   0.753733  0.401856
2   0.049101  0.393013
3   0.947437  0.340978
4   0.163570  0.179510
5   0.774367  0.962417
6   0.658237  0.912069
7   0.245886  0.691089
8   0.836300  0.864545
9   0.776664  0.068195
10  0.529771  0.308509

In [83]:
newdf.drop([1,5],axis=0,inplace=True)

In [84]:
newdf

           A         B
0   0.121212  0.788445
2   0.049101  0.393013
3   0.947437  0.340978
4   0.163570  0.179510
6   0.658237  0.912069
7   0.245886  0.691089
8   0.836300  0.864545
9   0.776664  0.068195
10  0.529771  0.308509

In [85]:
newdf.head(3)

          A         B
0  0.121212  0.788445
2  0.049101  0.393013
3  0.947437  0.340978

In [86]:
newdf.reset_index()

   index         A         B
0      0  0.121212  0.788445
1      2  0.049101  0.393013
2      3  0.947437  0.340978
3      4  0.163570  0.179510
4      6  0.658237  0.912069
5      7  0.245886  0.691089
6      8  0.836300  0.864545
7      9  0.776664  0.068195
8     10  0.529771  0.308509

In [88]:
newdf.reset_index(drop=True,inplace=True)

In [89]:
newdf

          A         B
0  0.121212  0.788445
1  0.049101  0.393013
2  0.947437  0.340978
3  0.163570  0.179510
4  0.658237  0.912069
5  0.245886  0.691089
6  0.836300  0.864545
7  0.776664  0.068195
8  0.529771  0.308509

In [90]:
newdf['B'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
Name: B, dtype: bool

In [91]:
newdf['B'] = None

In [92]:
newdf

          A     B
0  0.121212  None
1  0.049101  None
2  0.947437  None
3  0.163570  None
4  0.658237  None
5  0.245886  None
6  0.836300  None
7  0.776664  None
8  0.529771  None

In [93]:
newdf['B'].isnull()

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
Name: B, dtype: bool

In [94]:
newdf.loc[:,['B']] = None

In [95]:
newdf

          A     B
0  0.121212  None
1  0.049101  None
2  0.947437  None
3  0.163570  None
4  0.658237  None
5  0.245886  None
6  0.836300  None
7  0.776664  None
8  0.529771  None

In [96]:
df.dropna()

             name  marks       city
first        kali     99      delhi
second     kavita     99     mumbai
third   shubhangi     10  bangalore

In [97]:
df.dropna(how='all')

             name  marks       city
first        kali     99      delhi
second     kavita     99     mumbai
third   shubhangi     10  bangalore

In [98]:
df.drop_duplicates()

             name  marks       city
first        kali     99      delhi
second     kavita     99     mumbai
third   shubhangi     10  bangalore

In [99]:
df.drop_duplicates(subset=['name'],keep='last') #keep= False keep='first

             name  marks       city
first        kali     99      delhi
second     kavita     99     mumbai
third   shubhangi     10  bangalore

In [100]:
df.shape

(3, 3)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, first to third
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   marks   3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [106]:
df['name'].value_counts(dropna=False)

kali         1
kavita       1
shubhangi    1
Name: name, dtype: int64

In [107]:
df.notnull()

        name  marks  city
first   True   True  True
second  True   True  True
third   True   True  True

In [113]:
data = [{'a' : 1 , 'b' : 2, 'c' : 3},{'a' : 4, 'b' : 5, 'c' : 6}]

In [114]:
df2 = pd.DataFrame(data)

In [115]:
df2

   a  b  c
0  1  2  3
1  4  5  6

In [116]:
df.mean()

<ipython-input-116-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

marks    69.333333
dtype: float64

In [117]:
df.describe()

           marks
count   3.000000
mean   69.333333
std    51.384174
min    10.000000
25%    54.500000
50%    99.000000
75%    99.000000
max    99.000000

In [119]:
df.corr()

       marks
marks    1.0

In [120]:
df.max()

name     shubhangi
marks           99
city        mumbai
dtype: object

In [122]:
pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.9/dist-packages (2.0.1)

In [127]:
import pandas as pd
df3 = pd.read_excel("/content/weather_data (2).xlsx")

In [128]:
df3

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow